<div class="navbar navbar-expand-lg bg-body-secondary" id="navbar">
    <div class="container-fluid px-5">
        <a class="navbar-brand" href="/">Загальна інформація</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-end">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/fuelReport">Відомість про рух ПММ</a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${isAdmin}" class="nav-link active" aria-current="page" href="/users">Керування користувачами</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/users/user">Особистий кабінет</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout">Вийти з акаунта</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>